*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: black url("images/musicon_bg.png") top/cover no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > * {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

body,
header,
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

header h1 {
  font-size: 1.5em;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li + li {
  margin-left: 0.5em;
  -webkit-transition: margin-left 2.5s;
  transition: margin-left 2.5s;
}

header nav a {
  opacity: 0.8;
  padding-block: 0.5em;
}

header nav a:hover, header nav a:focus {
  outline: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

main {
  text-align: center;
  max-width: 700px;
}

main h2 {
  font-size: 1.8em;
  margin-block: 5%;
}

main p {
  margin-bottom: 2.5em;
}

main a {
  background-color: #4c7ef3;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 1.2em 10%;
  margin-block: 5%;
  border-radius: 0.3em;
}

main a:hover, main a:focus {
  outline: none;
  background-color: #26a69a;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

main article {
  margin: 0.5em 0 1.5rem;
}

main article img {
  width: 35px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

main article:last-child img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main article address {
  font-style: normal;
  line-height: 1.2rem;
  margin-top: 0.5rem;
}

main article.product {
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 0.6em;
  border-radius: 0.4em;
}

main article.product img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.35em;
}

main article.product h3,
main article.product p {
  margin-block: 0.5rem;
}

main article.product span {
  font-weight: 700;
  color: red;
  text-transform: uppercase;
}

main article.product del,
main article.product p:last-child {
  font-weight: 700;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 400px) {
  article:not(.product) img {
    width: 60px;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  article.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  article.product img + div {
    margin-left: 1em;
  }
  article.product img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 300px;
  }
  article.product p {
    font-weight: 400;
  }
}

@media only screen and (min-width: 600px) {
  header li + li {
    margin-left: 2.5em;
    -webkit-transition: margin-left 2.5s;
    transition: margin-left 2.5s;
  }
  header nav a {
    padding-block: 1.5em;
  }
  main h2 {
    font-size: 3em;
  }
  main p {
    font-weight: 500;
  }
  main > * {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */